<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="pic/icon" href="/images/icon.jpg">
    <title>登入頁面</title>
    <link rel="stylesheet" href="/stylesheets/login_register.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascripts/login_register.js"></script>
</head>

<body style="background-color:#a0c1d4">

    <div id="frame_login">
        <form method="post" action="/login">
            <image id="logo" src="/images/logo_1.gif" onclick="location.href='home.html'"/>
            <h1>登入</h1>
            <div id="frame_02">
                <div class="field">                   
                    <input class="text_field" id="account" type="text" name="account" autocomplete="off"/>
                    <p class="label" id="account_label">帳號</p>
                </div>
                <div class="field">
                    <input class="text_field" id="password" type="password" name="pwd"/>
                    <image id="eye" src="/images/eye-slash.png" />
                    <p class="label" id="password_label">密碼</p>       
                </div>
                <div class="field">
                    <input class="linker" type="button" value="註冊新帳戶" onclick="location.href='register.html'"/>
                    <input class="btn" id="btn_login" type="submit" value="登入"/>
                </div>
            </div>
        </form>
    </div>

</body>

</html>